* {
	margin:0;
	padding:0;
    background-image: url(https://i.pinimg.com/236x/d6/5d/89/d65d8999ac420ee6da759b92940d7b55.jpg);
}
body {
    height: 120vh;
    width:100vw;
  font-family: 'Fjalla One', sans-serif;

}
.bday {
	font-size:18px;
	margin-bottom:20px;
	font-size: 24px;
	color:#f2f9f4;
	font-weight:bold;
}
.underline {
	text-decoration: underline;
	cursor: pointer;
}
.uppercase {
	text-transform: uppercase;
}
.banner {
	justify-content: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
}
.flex {
	display: flex;
}
.flex-01 {
	flex: 1;
}
.flex-column {
	flex-direction: column;
}
.form {
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.size-sm,
.size-md,
.size-lg,
.size-xl,
.size-xxl,
.btn-action {
	height: 65px;
	margin: 8px;
	padding:8px;
}
.size-sm {
	width: 70px;
}
.size-md {
	margin-top:30px;
	width: 150px;
	outline: none;
}
.size-lg {
	width: 200px;
}
.size-xl {
	width: 250px;
}
.size-xxl {
	width: 300px;
}
.birthday-inputs {
	display: flex;
	justify-content: center;
}
.field {
	position: relative;
	text-align: center;
	border: solid 2px rgb(200,200,200);
	font-weight: bolder;
	outline:none;
	font-size:30px;
}
.btn-action {
	background-color:#b2a69c;
	position: relative;
	border:none;
	color:#fff;
	font-size: 18px;
	cursor: pointer;
}
.terms{
    color:rgb(201, 201, 201);
}
.underline{
	display:flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
	display: block;
}
.red {
	font-size: 22px;
	color:rgb(104, 28, 28);
	margin: 20px;
	font-weight: 100;
}