*{
    color:#ffffff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
article {
    margin-top: 5px;
    float: left;
    padding: 25px;
    width: 70%;
    h1{
        text-align: center;
        font-size: 30px;
    }
    #a1{
        font-size: 40px;
    }
    p {
        text-align:center;
        background-color: #0000006a;
    }
}
section::after {
    content: "";
    display: table;
    clear: both;
}
@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
footer{
    position: relative;
    background-color: #000000;
    color:#ffffff;
    opacity: 90%;
    width: 100%;
    padding: 30px;
    bottom: 0;
    p{
        text-align: center;
    }
}
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
.im1{
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    width: 29%;
    padding: 15px;
}
.all {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-content: left;
    min-height: 100vh;
}
.ingrd {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr    ;
    gap: 1em;
    width: 600px;
    height: 250px;
    transition: all 400ms;
}
.box {
    position: relative;
    background: var(--img) center center;
    background-size: cover;
    transition: all 400ms;
    display: flex;
    left: 200px;
    justify-content: center;
    align-items: center;
}
.box:hover::after {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 400ms;
}
.box::after {
    content: attr(data-text);
    position: absolute;
    bottom: 25px;
    background: #000;
    color: #fff;
    padding: 10px 10px 10px 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 400ms;
}
  